<!-- <section class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>ImmoWeb blabla</h1>
    <h2>Who are we</h2>
    <p>
      Description de notre compétences, ce service avec un lien cliquable.
      <a routerLink="/contact">About pour plus info</a><br>
      About Nous
    </p>
    <div class="hero-number">
      042156652200
    </div>
    <a routerLink="/contact" class="hero-contact">Contacte Us</a>
  </div>
</section> -->


<section class="hero-section">
  <video autoplay loop muted playsinline class="hero-video-bg">
    <source src="/videos/house-hero.mp4" type="video/mp4">

  </video>
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title">ImmoWeb</h1>
    <h2 class="hero-subtitle">Qui somme Nous</h2>
    <p class="hero-desc">
      ImmoWeb  is a company of local professionals. We don't just say that lightly. Thanks to our local offices, we can confidently say that no other real estate company understands the sensitivities and nuances of the local market so intimately. Our neighborhood expertise ensures a faster sale at the right price. And our clients benefit from that! <br>
      <a routerLink="/contact-form">Pour plus info</a>
    </p>
    <div class="hero-number"><i class="fa-solid fa-phone"></i>&nbsp; 042156652200</div>
  
     <a routerLink="/contact-form" class="hero-contact">Contactez Nous</a>


  </div>
</section>

