<div class="contact-container">
  <h2>Contactez Nous</h2>
  <form class="contact-form">
    <label for="name">Prenom</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <label for="subject">Sujet</label>
    <input type="text" id="subject" name="subject" required />

    <label for="message">Sujet</label>
    <textarea id="message" name="message" rows="5" required></textarea>

    <button type="submit" class="contact-btn">Envoyer</button>
  </form>
</div>
